<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<body>
  <section class="py-5 text-center container">
    <div class="row py-lg-1">
      <div class="col-md-4 col-md-5 mx-auto">
        <h1 class="fw-light"td><%= project.title %></td></h1>
        <p class="lead text-muted"td><%= project.description %></td></p>
          <p>
            
          <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>

          <div class="field">
            <%= form.label :description %>
            <%= form.text_area :description %>
          </div>

          <div class="field">
            <%= form.label :rating %>
            <%= form.text_field :rating %>
          </div>
              
          <div class="actions">
            <%= form.submit %>
          </div>
          </div>
        </p>
      </div>
    </div>
</body>

<% end %>

