<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-text">
      <h2>JiujitsuTutorialReview.com</h2>
      <div class="btn-group">
      <p>
       <%= button_to 'Add A New Review', new_project_path, method: :get %>
      </p>
    </div>
    
      </span>
  </div>
</nav>

<p id="notice"><%= notice %></p>
<h2><center>Reviews</center></h2>
  <body>
    <% @projects.each do |project| %>
      <section class="py-3 text-center container">
        <div class="row py-lg-1">
          <div class="col-md-4 col-md-5 mx-auto">
            <h1 class="fw-light"td><%= project.title %></td></h1>
            <p class="lead text-muted"td><%= project.description %></td></p>
              <p>
                <p>Rating: <td><%= project.rating %></td></p>
                <div class="btn-group">
                  <p>
                   <%= button_to 'Show', project, method: :get %>
                   <%= button_to 'Edit', edit_project_path(project), method: :get %>
                   <%= button_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, method: :get %>
                  </p>
                </div>
              </p>
          </div>
        </div>
    <% end %>
  </body>
  <div class="container">
    <p class="float-end">
      <a href="#">Back to top</a>
    </p>
  </div>

    

