<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-text">
      <h2>JiujitsuTutorialReview.com</h2>
    </span>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h2>Reviews</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.rating %></td>

        <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-outline-primary"<td><%= link_to 'Show', project %></td></button>
        <button type="button" class="btn btn-outline-primary"<td><%= link_to 'Edit', edit_project_path(project) %></td></button>
        <button type="button" class="btn btn-outline-danger"<td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td></button>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-outline-primary"<td><%= link_to 'Add A New Review', new_project_path %></td></button>

