<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-text">
      <h2>JiujitsuTutorialReview.com</h2>
    </span>
  </div>
</nav>

<
<p id="notice"><%= notice %></p>

<body>
  <section class="py-3
   text-center container"h2><center>Show</center></h2>
    <div class="row py-lg-1">
      <div class="col-md-4 col-md-5 mx-auto">
        <h1 class="fw-light"</h1>
        
          <p>
            
          <div class="field">
            <p>
              <strong>Title:</strong>
              <%= @project.title %>
            </p>
          </div>
            
          <div class="field">
            <p>
              <strong>Description:</strong>
              <%= @project.description %>
            </p>
          </div>

          <div class="field1">
            <p>
              <strong>Rating:</strong>
              <%= @project.rating %>
            </p>
          </div>
              
          <div class="actions">
            <%= link_to 'Edit', edit_project_path(@project) %> |
            <%= link_to 'Back', projects_path %>
          </div>

          </div>
        </p>
      </div>
    </div>
</body>